
<div class="">
    <div class="mx-auto text-center bg-[#2C3E50] text-white py-12 ">
        <div class="row mt-10">
            <div class="col">
                <div class="inner ">
                    <h2 class="uppercase  font-medium">location</h2>
                    <p>2215 John Daniel Drive
    
                    </p>
                    <p class="mt-4">Clark, MO 65243
    
                    </p>
                </div>
               
            </div>
            <div class="col">
                <div class="inner">
                    <h2 class="uppercase  font-medium">AROUND THE WEB
                    </h2>
                    <div class="flex justify-center gap-3 mt-3">
                        <a class=" flex justify-center items-center border rounded-[50%] w-[30px] h-[30px]  hover:bg-slate-200 hover:text-black cursor-pointer duration-300 " >
                            <!-- <i class="fa-regular fa-circle "></i> -->
                            <i class="fa-brands fa-facebook-f "></i>
                          </a>
                        <a class=" flex justify-center items-center border rounded-[50%] w-[30px] h-[30px]  hover:bg-slate-200 hover:text-black cursor-pointer duration-300 " >
                            <!-- <i class="fa-regular fa-circle "></i> -->
                            <i class="fa-brands fa-facebook-f "></i>
                          </a>
                        <a class=" flex justify-center items-center border rounded-[50%] w-[30px] h-[30px]  hover:bg-slate-200 hover:text-black cursor-pointer duration-300 " >
                            <!-- <i class="fa-regular fa-circle "></i> -->
                            <i class="fa-brands fa-facebook-f "></i>
                          </a>
                        <a class=" flex justify-center items-center border rounded-[50%] w-[30px] h-[30px]  hover:bg-slate-200 hover:text-black cursor-pointer duration-300 " >
                            <!-- <i class="fa-regular fa-circle "></i> -->
                            <i class="fa-brands fa-facebook-f "></i>
                          </a>
                   
                      
                    </div>
                </div>
             
            </div>
            <div class="col">
                <div class="inner">
                    <h2 class="uppercase  font-medium">
                        ABOUT FREELANCER
        
                    </h2>
                    <p>
                        Freelance is a free to use, licensed Bootstrap theme created by Route
        
        
                    </p>
                </div>
          
            </div>
        </div>
    </div>
    <div class="bg-[#1A252F] text-center text-white py-5">
        <p class="m-0">Copyright © Your Website 2021</p>
    
    </div>
</div>
