<section class="about py-3 bg-[#1ABC9C]  text-center flex justify-center items-center">

<div class="w-[80%] container">
    <div class="flex flex-col justify-center items-center text-white">
        <h1 class="text-3xl font-bold  my-10 uppercase">about component
        </h1>
        <div class="line-title relative mb-4 ">
    
            <i class="fa-solid fa-star"></i>
    
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="inner">
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                            files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                            customization.
    
                        </p>
                    </div>
    
                </div>
                <div class="col">
                    <div class="inner">
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                            files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                            customization.
    
                        </p>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
</div>
</section>