<section class="port py-3  text-center flex justify-center items-center">
    <div class="container w-[80%]">
        <div class="flex flex-col justify-center items-center text-[#2C3E50]">
            <h1 class="text-3xl font-bold  my-10 uppercase text-center">portfolio component
            </h1>
            <div class="line-title relative mb-4 after:bg-[#2C3E50] before:bg-[#2C3E50]">

                <i class="fa-solid fa-star"></i>

            </div>

            <!-- <div class="container flex flex-col justify-center items-center text-white">
                    <div class="row">
                        <div class="col m-4" (click)="showPic()">
                            <div class="inner relative cursor-pointer group">
                                <div class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                                    <i class="fa-solid fa-plus text-[100px] font-black	"></i>
                                </div>
                            <img src="assets/images/port2.png" class="w-full rounded-xl" alt="">
                            </div>
            
                        </div>
                        <div class="col m-4" (click)="showPic()">
                            <div class="overlay">

                            </div>
                            <div class="inner relative cursor-pointer group">
                                <div class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                                    <i class="fa-solid fa-plus text-[100px] font-black	"></i>
                                </div>
                            <img src="assets/images/poert1.png" class="w-full rounded-xl" alt="">
                            </div>
            
                        </div>
                        <div class="col m-4" (click)="showPic()">
                            <div class="inner relative cursor-pointer group">
                                <div class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                                    <i class="fa-solid fa-plus text-[100px] font-black	"></i>
                                </div>
                            <img src="assets/images/port3.png" class="w-full rounded-xl" alt="">
                            </div>
            
                        </div>
                        <div class="col m-4" (click)="showPic()">
                            <div class="inner relative cursor-pointer group">
                                <div class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                                    <i class="fa-solid fa-plus text-[100px] font-black	"></i>
                                </div>
                            <img src="assets/images/port2.png" class="w-full rounded-xl" alt="">
                            </div>
            
                        </div>
                        <div class="col m-4" (click)="showPic()">
                            <div class="inner relative cursor-pointer group">
                                <div class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                                    <i class="fa-solid fa-plus text-[100px] font-black	"></i>
                                </div>
                            <img src="assets/images/poert1.png" class="w-full rounded-xl" alt="">
                            </div>
            
                        </div>
                        <div class="col m-4" (click)="showPic()">
                            <div class="inner relative cursor-pointer group">
                                <div class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                                    <i class="fa-solid fa-plus text-[100px] font-black	"></i>
                                </div>
                            <img src="assets/images/port3.png" class="w-full rounded-xl" alt="">
                            </div>
            
                        </div>
                        
                      
                
                  
            
                    </div>
                </div> -->

        </div>
        <div class="container flex flex-col justify-center items-center text-white">
            <div class="row">
                <div class="col m-4" (click)="showPic('assets/images/port2.png')">
                    <div class="inner relative cursor-pointer group">
                        <div
                            class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                            <i class="fa-solid fa-plus text-[100px] font-black"></i>
                        </div>
                        <img src="assets/images/port2.png" class="w-full rounded-xl" alt="">
                    </div>
                </div>
                <div class="col m-4" (click)="showPic('assets/images/poert1.png')">
                    <div class="inner relative cursor-pointer group">
                        <div
                            class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                            <i class="fa-solid fa-plus text-[100px] font-black"></i>
                        </div>
                        <img src="assets/images/poert1.png" class="w-full rounded-xl" alt="">
                    </div>
                </div>
                <div class="col m-4" (click)="showPic('assets/images/port3.png')">
                    <div class="inner relative cursor-pointer group">
                        <div
                            class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                            <i class="fa-solid fa-plus text-[100px] font-black"></i>
                        </div>
                        <img src="assets/images/port3.png" class="w-full rounded-xl" alt="">
                    </div>
                </div>
                <div class="col m-4" (click)="showPic('assets/images/port2.png')">
                    <div class="inner relative cursor-pointer group">
                        <div
                            class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                            <i class="fa-solid fa-plus text-[100px] font-black"></i>
                        </div>
                        <img src="assets/images/port2.png" class="w-full rounded-xl" alt="">
                    </div>
                </div>
                <div class="col m-4" (click)="showPic('assets/images/poert1.png')">
                    <div class="inner relative cursor-pointer group">
                        <div
                            class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                            <i class="fa-solid fa-plus text-[100px] font-black"></i>
                        </div>
                        <img src="assets/images/poert1.png" class="w-full rounded-xl" alt="">
                    </div>
                </div>
                <div class="col m-4" (click)="showPic('assets/images/port3.png')">
                    <div class="inner relative cursor-pointer group">
                        <div
                            class="overlay inset-0 absolute opacity-0 flex justify-center items-center duration-1000 bg-orange-400 group-hover:opacity-[0.7]">
                            <i class="fa-solid fa-plus text-[100px] font-black"></i>
                        </div>
                        <img src="assets/images/port3.png" class="w-full rounded-xl" alt="">
                    </div>
                </div>
                <!-- Add more columns as needed -->
            </div>

            <div *ngIf="showOverlay" class="fixed inset-0 bg-black bg-opacity-75 flex justify-center items-center z-[999]"
                (click)="closeOverlay()">
                <div class="relative" (click)="stopPropagation($event)">
                    <img [src]="selectedImage" class="max-w-full max-h-full" alt="Selected Image">
                    <button (click)="closeOverlay()" class="absolute top-0 right-0 m-4 text-white text-2xl">✖</button>
                  </div>
            </div>
        </div>

    </div>
</section>